NODE_ENV=development
PORT=3001
API_PREFIX=api
CORS_ORIGIN=*

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=store_back

JWT_SECRET=change-me-in-production
JWT_EXPIRES_IN=7d
